@import 'react-calendar/dist/Calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200;
}

.react-calendar {
  @apply border-none w-full;
}

.react-calendar__navigation button {
  @apply font-bold text-lg;
}

.react-calendar__month-view__weekdays__weekday {
  @apply font-semibold text-sm text-gray-500 uppercase;
}

.react-calendar__tile {
  @apply h-28 rounded-md;
}

.react-calendar__tile--now {
  @apply bg-blue-100 dark:bg-blue-900/50;
}

.react-calendar__month-view__days__day--weekend:not(.react-calendar__tile--active) {
  @apply text-red-500;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
    @apply bg-gray-200 dark:bg-gray-700;
}

.react-calendar__tile--active {
    @apply bg-blue-500 text-white;
}
