@import 'react-calendar/dist/Calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200;
}

.react-calendar {
  @apply border-none w-full;
}

/* Navigation */
.react-calendar__navigation button {
  @apply text-gray-300 font-bold text-lg;
}
.react-calendar__navigation button:disabled {
  @apply text-gray-600;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  @apply bg-gray-700/50;
}

/* Weekdays */
.react-calendar__month-view__weekdays__weekday {
  @apply text-gray-400 font-semibold text-sm;
}

/* Day Tiles */
.react-calendar__tile {
  @apply text-gray-700 h-28 rounded-lg;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @apply bg-gray-700/50;
}

/* Today */
.react-calendar__tile--now {
  @apply bg-gray-700/70 text-white font-bold;
}

/* Active/Selected Day */
.react-calendar__tile--active {
  @apply bg-gray-600 text-white font-bold;
}

/* Neighboring month days */
.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-gray-500;
}

/* Weekend days */
.react-calendar__month-view__days__day--weekend:not(.react-calendar__tile--active) {
  @apply text-red-500;
}
